
<div *ngIf="event">
    <h2><span jhiTranslate="scmApp.event.detail.title">Event</span> {{event.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="scmApp.event.title">Title</span></dt>
        <dd>
            <span>{{event.title}}</span>
        </dd>
        <dt><span jhiTranslate="scmApp.event.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'scmApp.EventType.' + event.type}}">{{event.type}}</span>
        </dd>
        <dt><span jhiTranslate="scmApp.event.date">Date</span></dt>
        <dd>
            <span>{{event.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="scmApp.event.state">State</span></dt>
        <dd>
            <span jhiTranslate="{{'scmApp.EventState.' + event.state}}">{{event.state}}</span>
        </dd>
        <dt><span jhiTranslate="scmApp.event.numberOfPlaces">Number Of Places</span></dt>
        <dd>
            <span>{{event.numberOfPlaces}}</span>
        </dd>
        <dt><span jhiTranslate="scmApp.event.isHome">Is Home</span></dt>
        <dd>
            <span>{{event.isHome}}</span>
        </dd>
        <dt><span jhiTranslate="scmApp.event.comment">Comment</span></dt>
        <dd>
            <span>{{event.comment}}</span>
        </dd>
        <dt><span jhiTranslate="scmApp.event.team">Team</span></dt>
        <dd>
            <div *ngIf="event.teamId">
                <a [routerLink]="['/team-scm', event.teamId]">{{event.teamId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="scmApp.event.location">Location</span></dt>
        <dd>
            <div *ngIf="event.locationId">
                <a [routerLink]="['/location-scm', event.locationId]">{{event.locationId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="scmApp.event.participant">Participant</span></dt>
        <dd>
            <span *ngFor="let participant of event.participants; let last = last">
                {{participant.id}}{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'event-scm/'+ event.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
