<div>
    <h2>
        <span jhiTranslate="scmApp.event.home.title">Events</span>
        <button class="btn btn-primary float-right create-event-scm" [routerLink]="['/', { outlets: { popup: ['event-scm-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="scmApp.event.home.createLabel">
            Create new Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="events">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="scmApp.event.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="scmApp.event.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="scmApp.event.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="state"><span jhiTranslate="scmApp.event.state">State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numberOfPlaces"><span jhiTranslate="scmApp.event.numberOfPlaces">Number Of Places</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isHome"><span jhiTranslate="scmApp.event.isHome">Is Home</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comment"><span jhiTranslate="scmApp.event.comment">Comment</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="teamId"><span jhiTranslate="scmApp.event.team">Team</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="locationId"><span jhiTranslate="scmApp.event.location">Location</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of events ;trackBy: trackId">
                <td><a [routerLink]="['../event-scm', event.id ]">{{event.id}}</a></td>
                <td>{{event.title}}</td>
                <td jhiTranslate="{{'scmApp.EventType.' + event.type}}">{{event.type}}</td>
                <td>{{event.date | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'scmApp.EventState.' + event.state}}">{{event.state}}</td>
                <td>{{event.numberOfPlaces}}</td>
                <td>{{event.isHome}}</td>
                <td>{{event.comment}}</td>
                <td>
                    <div *ngIf="event.teamId">
                        <a [routerLink]="['../team-scm', event.teamId  ]" >{{event.teamId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="event.locationId">
                        <a [routerLink]="['../location-scm', event.locationId  ]" >{{event.locationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../event-scm', event.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-scm/'+ event.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-scm/'+ event.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="events && events.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
